secrets/
setup-jenkins-in-ec2-aws/terraform/.terraform/*
provision-infrastructure-using-jenkins/terraform/.terraform/*
setup-jenkins-in-ec2-aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.58.0/darwin_arm64/terraform-provider-aws_v5.58.0_x5

*.pem
*.key
*.pfx
*.pub
*.ppk
*.cer
*.der
*.crt
*.ovpn
*.tar.gz
*.zip
*.jks
*.keystore
