secrets/
setup-jenkins-in-ec2-aws/terraform/.terraform/*
provision-infrastructure-using-jenkins/terraform/.terraform/*

*.pem
*.key
*.pfx
*.pub
*.ppk
*.cer
*.der
*.crt
*.ovpn
*.tar.gz
*.zip
*.jks
*.keystore
