secrets/

# Ignore Terraform provider binaries
setup-jenkins-in-ec2-aws/terraform/.terraform/
setup-jenkins-in-ec2-aws/terraform/terraform.tfstate
setup-jenkins-in-ec2-aws/terraform/terraform.tfstate.backup
provision-infrastructure-using-jenkins/terraform/.terraform/
provision-infrastructure-using-jenkins/terraform/terraform.tfstate
provision-infrastructure-using-jenkins/terraform/terraform.tfstate.backup

*.pem
*.key
*.pfx
*.pub
*.ppk
*.cer
*.der
*.crt
*.ovpn
*.tar.gz
*.zip
*.jks
*.keystore
